/**
 * App Component Styles
 * 
 * Global styles for the application shell.
 * Uses Sportio design system variables.
 */
@import '../styles/variables';

// App shell fills entire screen
:host {
  width: 100%;
  height: 100%;
  background-color: $color-background;
}

