/**
 * Top Bar Styles
 * 
 * Based on mockup .topbar class
 */
@import '../../../../styles/variables';

.top-bar {
  padding: $spacing-sm 0;
  
  .back-section {
    margin-right: $spacing-sm;
  }
  
  .title-section {
    vertical-align: center;
    
    .title {
      font-size: $font-size-body;
      font-weight: $font-weight-semibold;
      color: $color-text-primary;
    }
    
    .subtitle {
      font-size: $font-size-small;
      color: $color-text-secondary;
      margin-top: 2;
    }
  }
  
  .actions-section {
    horizontal-align: right;
    vertical-align: center;
  }
}

