/**
 * Primary Button Styles
 * 
 * Based on mockup .btn class
 */
@import '../../../../styles/variables';

.primary-btn {
  background-color: $color-primary;
  color: $color-text-inverted;
  font-weight: $font-weight-semibold;
  font-size: $font-size-caption;
  padding: $button-padding-y $button-padding-x;
  border-radius: $border-radius-sm;
  min-height: $button-min-height;
  width: 100%;
  border-width: 0;
  
  &.disabled {
    opacity: 0.5;
  }
  
  &.loading {
    opacity: 0.7;
  }
}

